.input {
    position: relative;
    border: 1px solid #323b54;
    border-radius: 12px;
    padding: 12px 16px;
    width: 384px;
    height: 64px;
}

.input__field {
    width: 100%;
    padding-left: 16px;
}

.input_with-icon .input__field {
    padding-left: 56px;
}

.input__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}