.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    background: #121829;
    width: 1920px;
    height: 1080px;

}

.content {
    /* max-width: 420px;
    width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #ebeef5;
    margin: 0px;
}