.layout {
    padding: 16px 120px;
    width: 1440px;
    height: 80px;
}

.header {
    display: flex;
    gap: 48;
    padding: 12px 16px; 
    width: 531px;
    height: 48px;

}

.header__right {
    display: flex;
    gap: 8px;
    padding: 12px 32px;
    width: 149px;
    height: 48px;
}