.button {
    border: 2px solid #7b6ef6;
    border-radius: 12px;
    padding: 16px 32px;
    width: 201px;
    height: 56px;
    background: #7b6ef6;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}